# gpsdaemon daemon
type gpsdaemon, domain, domain_deprecated;
type gpsdaemon_exec, exec_type, file_type;

# Started by init
init_daemon_domain(gpsdaemon)


