# hwnffserver daemon
type hwnffserver, domain, domain_deprecated;
type hwnffserver_exec, exec_type, file_type;

# Started by init
init_daemon_domain(hwnffserver)
