# oeminfo_nvm daemon
type oeminfo_nvm, domain, domain_deprecated;
type oeminfo_nvm_exec, exec_type, file_type;

# Started by init
init_daemon_domain(oeminfo_nvm)
