import /init.recovery.hi3650.usb.rc

on fs
    symlink /dev/block/platform/hi_mci.0 /dev/block/bootdevice
    start teecd
    start volisnotd
    start tmp_timer

service teecd /sbin/teecd
    user root
    group root
    disabled
    seclabel u:r:tee:s0

service volisnotd /sbin/volisnotd -m
    oneshot
    user root
    group root
    disabled
    seclabel u:r:tee:s0

service tmp_timer /sbin/tmp_timer
    oneshot
    disabled
    seclabel u:r:recovery:s0
